#left
	%h3 Hi. I'm Sam Warmuth. I'm currently a Junior in Computer Engineering at Marquette University.
	%h3 
		Feel free to contact by email at 
		%br
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		sam [at] samwarmuth.com.
	%h3 Check out my portfolio page for the projects I've worked on.
