.entry
  %p Hi. I'm Sam Warmuth. I'm currently a Senior in Computer Engineering at Marquette University.
  %p 
    Feel free to contact by email at 
    <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
    "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
    "\\\\,l=x.length;for(i=0;i<l;i++){if(i==11)y+=i;y%=127;o+=String.fromCharCod" +
    "e(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\ocn{bu\\\\\\\\177f=cgHVFHK\\\\"+
    "\\\\016\\\\\\\\005\\\\\\\\024H\\\\\\\\nC^HH\\\\\\\\022l\\\\\\\\023_R]YBX\\\\"+
    "\\\\002J[V|N_R7 0.11.i+&'\\\\\\\\027nm:&$=7n\\\\\\\\010w\\\\\\\\025;1:1{(2~" +
    ":\\\\\\\\r\\\\\\\\000\\\\\\\\013\\\\\\\\017D\\\\\\\\010\\\\\\\\003;JW\\\\\\" +
    "\\031\\\\\\\\n\\\\\\\\001-\\\\\\\\035\\\\\\\\016\\\\\\\\035\\\\\\\\006\\\\\\"+
    "\\023\\\\\\\\001\\\\\\\\031\\\\\\\\000\\\\\\\\002\\\\\\\\037V\\\\\\\\032\\\\"+
    "\\\\025\\\\\\\\026@R\\\\\\\\037>#+84>\\\"\\\\,11)\\\"(f};)lo,0(rtsbus.o nru" +
    "ter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)15=!)31/" +
    "l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"     ;
    while(x=eval(x));
    //-->
    //]]>
    </script>
    
  Check out my<a href='/portfolio'>portfolio page</a>for some projects I've been worked on.
  