!!!
%head
	%title
	<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js">
	</script>
	<script type="text/javascript">
	$(function()
	{
	$(document).ready(function () {
	$('li.#{params[:page]}').attr("id","current");
	});
	$('.addNew').click(function()
	{
	$('#newForm').slideToggle("slow");
	return false;
	});
	});
	</script>
	
%body
	#wrap
		#header
			%h1 <a href="/" title="">Sam Warmuth</a>
			#nav
				%ul
					%li.Fresh.first <a href='/fresh'>Fresh</a>
					%li.Blog <a href='/blog'>Blog</a>
					%li.Portfolio <a href='/portfolio'>Portfolio</a>
					%li.About <a href='about'>About</a>
		#content-outer.clear
			#content-wrap
				#content
					=yield
		#footer
			%p
				%img{:src => "/images/Glider.png", :style => "border: 0; padding: 0;"}
					2010 <strong>Sam Warmuth</strong>&nbsp; &nbsp; &nbsp;