.entry
	.text{:style => "float: left; width: 600px"}
		%h2
			Github
		%p
			<strong>All of the projects on this page are old.</strong> Check out my <a href='http://github.com/samwarmuth'>github account</a> for more recent activiity.
.entry
	.imgblock{:style=> "float:left; Height: 100%"}
		%img{:src => "images/img-featured.jpg", :style => "margin-top: 33%"}
	.text{:style => "float: right; width: 300px"}
		%h2
			<a href="http://moviedb.samwarmuth.com">Movie Database</a>
		%p
			<strong>The Movie Database</strong> was a project for my database class junior year. The point
			was to create a working database model for a simple data set. I chose to use my movie collection.
		%p
			With <a href='http://www.sinatrarb.com'>Sinatra</a> and the 
			<a href='http://www.datamapper.org'>datamapper framework</a>,
			the basic project was pretty simple. From that base, I added automatic 
			lookup using <a href='http://tmdb.org'>TMDb</a>'s API, cover art, and 
			a few jQuery effects. All in all, it was pretty fun, and I got a lot more
			comfortable with Sinatra, jQuery, Heroku, Ruby, and haml/sass.
		%p 
			<a href="http://moviedb.samwarmuth.com" class="more-link">MovieDB</a>
			|
			<a href="http://www.github.com/SamWarmuth/movieDB/" class="more-link">Source</a>
.entry
	%h2 
		<a href="http://www.tranquilapps.com">Tranquil Checkers</a>	
		%img{:src => "images/tc.png", :style=> "float:right"}
	
	%p
		My first complete project. A checkers game written in java with a pretty legitimate AI.
		It's for sale at tranquilapps.com, and I've managed to sell several dozen copies.
	%p <a class="more-link" href="http://www.tranquilapps.com">Web Site</a>
.entry
	%h3 Other Projects
	%p
		Over the last few years I've worked on several of projects of varying size and difficulty. I've listed a few here – there are more at my <a href="http://www.github.com/SamWarmuth/">Github page.</a>
	%h4{:style => "margin-top: 40px"}
		Red-Black Tree
		%img{:src => "images/redblack.png", :style=> "float:right"}
	%p
		An implementation of red-black trees from scratch for my intro to algorithms class. My first 
		project in ruby (and also using Sinatra/Heroku), it was pretty useful. 
	%p 
		<a class="more-link" href="redblack.samwarmuth.com">Site</a>	|
		<a class="more-link" href="http://github.com/SamWarmuth/sinatra-rbtree">Source</a>


	%h4{:style => "margin-top: 40px"}
		Enigmata
		%img{:src => "images/enig.png", :style=> "float:right"}
	%p
		A mastermind clone (Obj-C/Cocoa) that I had big plans for, but stopped working on after the 
		basic functionality was done. I had fun playing with core animation for this.
	%p 
		<a class="more-link" href="http://sites.google.com/site/harpastum/Enigmata.zip?attredirects=0&d=1">Download</a>
		(OS X Only)
	%h4{:style => "margin-top: 40px"}
		Slots of fun
		%img{:src => "images/slots.png", :style=> "float:right"}
	%p
		A slot machine game that I built while learning the basics of Core Animation. 
		Not the most amazing thing ever, but it's kinda fun. Oh, and if you do check it out, try clicking 
		on the coin pile for an easter egg.
	%p 
		<a class="more-link" href="http://sites.google.com/site/harpastum/SlotsofFun.zip">Download</a>
		(OS X Only)
	%h4{:style => "margin-top: 40px"}
		Mancala
	%p
		%img{:src => "images/mancala.png", :style=> "float:right"}
		One of my first projects in Java. It was for my freshman programming class, and while it doesn't 
		seem like much now, it was pretty awesome at the time.
	%p 
		<a class="more-link" href="http://sites.google.com/site/harpastum/Mancala.zip?attredirects=0&d=1">Download</a>
		(Java)
