@font-face
  font-family: 'ChunkFiveRegular'
  src: local('ChunkFive Regular'), local('ChunkFive'), url('/fonts/Chunkfive.otf') format('opentype')
  
h1
  margin-top: 30px
  margin-bottom: 5px
  font-family: ChunkFiveRegular, 'Rockwell Extra Bold', 'Arial Black', Arial, sans-serif
  font-weight: bold
  font-size: 96px
  text-align: center
  font-family: "ChunkFiveRegular"
  a:link, a:visited
    color: #000
    text-decoration: none
  a:hover, a:active
    background-color: #eee
    color: #444
    

h3
  font-family: ChunkFiveRegular, 'Rockwell Extra Bold', 'Arial Black', Arial, sans-serif
  font-size: 32px
  text-align: center
  font-family: "ChunkFiveRegular"
a
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  padding: 5px 5px
a:link, a:visited
  color: #5386AD
  text-decoration: none
a:hover, a:active
  text-shadow: none
  background-color: #5386AD
  color: white

code, pre
  font-family: monospace
  
body
  background-color: #eee
  color: #333
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Sans-Serif
  font-size: 17px

.entry
  background: #FeFeFe
  color: #001A2B
  text-shadow: white 1px 1px 0
  overflow: hidden
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  padding: 15px 50px
  width: 600px
  margin: 20px auto
  -webkit-box-shadow: 2px 2px 2px #DDD
  -moz-box-shadow: 2px 2px 2px #DDD
  box-shadow: 2px 2px 2px #DDD
  li
    padding: 5px
    list-style-type: none
    .post-title
      margin-left: -10px
    .post-details
      margin-top: 10px
      margin-left: 10px
    
    
#nav ul
  text-align: center
  margin-top: 5px
  margin-bottom: 20px
#nav li
  font-size: 175%
  text-align: center
  list-style-type: none
  display: inline
  
#footer
  text-align: center